@model IEnumerable<TechStore.Models.Voucher>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Code)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DiscountPercent)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MaxDiscountAmount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MinOrderValue)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EndDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UsageLimit)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UsedCount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsActive)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Code)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DiscountPercent)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaxDiscountAmount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MinOrderValue)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UsageLimit)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UsedCount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsActive)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.VoucherId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.VoucherId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.VoucherId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
</body>
</html>
